@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@{
    var serviceUri = Configuration["ServiceUri:MVMediaAPI"];
    var m3uUrl = $"{serviceUri}/Videos/index.m3u";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0; url=@m3uUrl" />
    <script>
        window.location.href = '@m3uUrl';
    </script>
</head>
<body>
    <p>Redirecionando para a playlist...</p>
</body>
</html>