@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>MVMedia</h3>
    <img src="/images/mvmedia-logo.png" class="img-fluid" asp-append-version="true" alt="MVMedia Logo" />
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
